@*@using Microsoft.AspNetCore.Identity
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData ["Title"] - ExamensArbeteMVC</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ExamensArbeteMVC.styles.css" asp-append-version="true" />

@inject SignInManager<IdentityUser> _signinManager
@model CourseModel


@{
    var user = _signinManager.IsSignedIn(User);
}
@if (user)
{

    <li class="nav-item  text-white">

        Hello @((User.Identity?.Name))

    </li>



    <h4>All IT & Software courses:</h4>
    <br />

    <div class="row ">
        @foreach (var course in Model)
        {
            <div class=" col-md-3 ">
                <div class="card mb-4 shadow">

                    <img class="card-img-top" src="@course.ImagesPath " asp-for="Images">

                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Teacher: @course.Teacher</li>
                        <li class="list-group-item">Price: <span style="color:red" class="original-price">@Model.price</span> <span style="color:red" class="discounted-price">Discounte 20%</span> </li>

                        <li class="list-group-item">Start date: @course.startDate</li>
                    </ul>
                    <div class="card-body">
                       <a href="@Url.Action("GetCourseId", "Course", new { id = course.Id })" class="card-link">Courses details</a>
                       
                    </div>

                </div>

            </div>
        }
    </div>
                     
              

}
else

{
    
    <h4>All IT & Software courses:</h4>
    <br />

    <div class="row ">
        @foreach (var course in Model)
        {
            <div class=" col-md-3 ">
                <div class="card mb-4 shadow">

                    <img class="card-img-top" src="@course.ImagesPath " asp-for="Images">

                    <div class="card-body">
                        <h5 class="card-title">@course.Title</h5>
                     
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Teacher: @course.Teacher</li>
                        <li class="list-group-item">Price: @course.price</li>
                        <li class="list-group-item">Start date: @course.startDate</li>
                    </ul>
                    <div class="card-body">
                       <a href="@Url.Action("GetCourseId", "Course", new { id = course.Id })" class="card-link">Courses details</a>
                       
                    </div>

                </div>

            </div>
        }
    </div>


}

*@